<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SILVER_ONE_ERP.Settings.SILVER_ERPConnectionString"
      connectionString="Data Source=DESKTOP-053T4N1\SQLEXPRESS;Initial Catalog=SILVER_ERP;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="SILVER_E.Properties.Settings.SILVER_ERPConnectionString"
      connectionString="Data Source=DESKTOP-053T4N1\SQLEXPRESS;Initial Catalog=SILVER_ERP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.100/WSDatos/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>